{% extends "index.html" %}
{% block content %}

<div class="">
    <center>
      <h1>Gráfica de cantidad de productos por nombre</h1>
      <img src="{{ url_for('static', filename=imagen1) }}" alt="Gráfica">
      <h1>Gráfica de cantidad de productos por nombre</h1>
      <img src="{{ url_for('static', filename=imagen2) }}" alt="Gráfica">
      <h1>Gráfica de cantidad de productos por nombre</h1>
      <img src="{{ url_for('static', filename=imagen3) }}" alt="Gráfica">
    </center>
</div>
  
{% endblock %}