<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The World of Cakes.com.mx</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/styles.css" />
    <link rel="stylesheet" href="../static/css/nav.css" />

    <link rel="stylesheet" href="../static/css/carrusel.css" />
    <link rel="stylesheet" href="../static/js/carrusel.js" />

    <!-- Estilos CSS de Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Biblioteca Swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </head>

  <body>
    <!-- style="background-image: url('../static/img/fondo5.jpg'); background-repeat: no-repeat; background-size: 100% 100%; background-position: top; background-attachment: fixed;" -->
    <section class="hero is-white is-fullheight" style="background-image: url('../static/img/fondo5.jpg'); background-repeat: no-repeat; background-size: 100% 100%; background-position: top; background-attachment: fixed;">
      
      <header class="">
        <img src="../static/img/ej4.png" width="100" height="90" />
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('main.principal') }}" class="nav-link py-3 px-0 px-lg-3 rounded mx-0 mx-lg-1" style="color:white">Inicio</a>
                </li>
                <li>
                    <a href="{{ url_for('auth.productos') }}" class="nav-link py-3 px-0 px-lg-3 rounded mx-0 mx-lg-1" style="color:white">Catalogo de productos</a>
                </li>
                {% if not current_user.is_authenticated %}
                    <li>
                        <a href="{{ url_for('auth.login') }}" class="nav-link py-3 px-0 px-lg-3 rounded mx-0 mx-lg-1" style="color:white">Login</a>
                    </li>
                    <li>
                        <a href="{{ url_for('auth.register') }}" class="nav-link py-3 px-0 px-lg-3 rounded mx-0 mx-lg-1" style="color:white">Registro</a>
                    </li>
                {% endif %}
                <!--Seccion de Administrador-->
                {% if current_user.is_authenticated %}
                    {% if current_user.has_role('admin') %}
                        <li>
                            <a href="{{ url_for('auth.administracion_admin') }}" class="nav-link py-3 px-0 px-lg-3 rounded mx-0 mx-lg-1" style="color:white">Administracion</a>
                        </li>
                        <li>
                            <a href="{{ url_for('auth.finanzas') }}" class="nav-link py-3 px-0 px-lg-3 rounded mx-0 mx-lg-1" style="color:white">Finanzas</a>
                        </li>
                        <li>
                            <a href="{{ url_for('auth.empleados') }}" class="nav-link py-3 px-0 px-lg-3 rounded mx-0 mx-lg-1" style="color:white">Empleados</a>
                        </li>
                        <li>
                          <a href="{{ url_for('auth.proveedor_admin') }}" class="nav-link py-3 px-0 px-lg-3 rounded mx-0 mx-lg-1" style="color:white">Proveedores</a>
                        </li>
                        <li>
                          <a href="{{ url_for('auth.insertarMerma') }}" class="nav-link py-3 px-0 px-lg-3 rounded mx-0 mx-lg-1" style="color:white">Mermas</a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if current_user.is_authenticated %}
                    {% if current_user.has_role('empleado') %}
                        <li>
                            <a href="{{ url_for('auth.administracion_empleado') }}" class="nav-link py-3 px-0 px-lg-3 rounded mx-0 mx-lg-1" style="color:white">Administracion</a>
                        </li>
                        <li>
                            <a href="{{ url_for('auth.finanzas_empleado') }}" class="nav-link py-3 px-0 px-lg-3 rounded mx-0 mx-lg-1" style="color:white">Finanzas</a>
                        </li>
                        <li>
                            <a href="{{ url_for('auth.pedidos_empleado') }}" class="nav-link py-3 px-0 px-lg-3 rounded mx-0 mx-lg-1" style="color:white">Pedidos</a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if current_user.is_authenticated %}
                    {% if current_user.has_role('repartidor') %}
                        <li>
                            <a href="{{ url_for('auth.pedidos') }}" class="nav-link py-3 px-0 px-lg-3 rounded mx-0 mx-lg-1" style="color:white">Pedidos</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li>
                    <a href="{{ url_for('main.contacto') }}" class="nav-link py-3 px-0 px-lg-3 rounded mx-0 mx-lg-1" style="color:white">Contacto</a>
                </li>
                
                {% if current_user.is_authenticated %}
                    <li>
                        <a href="{{ url_for('main.profile') }}" class="nav-link py-3 px-0 px-lg-3 rounded mx-0 mx-lg-1" style="color:white">Perfil</a>
                    </li>
                    <li>
                        <a href="{{ url_for('auth.logout') }}" class="nav-link py-3 px-0 px-lg-3 rounded mx-0 mx-lg-1" style="color:white">Cerrar Sesion</a>
                    </li>
                {% endif %}
          </ul>
        </nav>
      </header>
      
      <div class="hero-body">
        <div class="container has-text-centered">
          {% block content %}
            <div class="carousel">
              <img src="../static/img/fondo3.png" />
              <img src="../static/img/fondo4.png" />
              <img src="../static/img/fondo2.png" />
            </div>
          {% endblock %}
        </div>
      </div>
    </section>

    <script type="text/javascript">
      window.addEventListener('scroll', function () {
        var header = document.querySelector('header')
        header.classList.toggle('abajo', window.scrollY > 0)
      })
    </script>
  </body>
</html>
