{% extends "baseUsuario.html" %}

{% block content %}
<div class="columns">
    <div class="column is-12 fondoMenu">
        <div class="columns">
            <div class="column is-12 tituloMenu">
                <p>¿Quienes somos?</p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12 textoMenu">
                <ul>
                    <li type="disc"> 
                        <p>Misión: Nuestra misión es ofrecer a nuestros clientes productos de alta calidad, 
                            frescos y deliciosos, utilizando los mejores ingredientes y las técnicas más 
                            innovadoras de la pastelería. Nos comprometemos a crear experiencias excepcionales 
                            para nuestros clientes, apegado a la nueva modernidad integrando las nuevas tecnologías 
                            y lograr brindar un servicio al cliente excepcional en todo momento.

                         </p>
                    </li>
                    <li type="disc">
                        <p class="parrafo2">Visión:Nuestra visión es ser la pastelería preferida por nuestros clientes, 
                            y ser reconocidos como líderes en la industria de la pastelería por nuestra excelencia en la calidad, 
                            la innovación y el servicio al cliente. Nos esforzamos por expandir nuestro negocio y ofrecer una amplia
                             variedad de productos para satisfacer las necesidades de nuestros clientes. 
                             Además, buscamos mantener un ambiente de trabajo agradable y seguro para nuestros empleados, 
                             y ser una empresa socialmente responsable y comprometida con nuestra comunidad.

                         </p>
                    </li>
                    <li type="disc">
                        <p class="parrafo3">Valores: Responsabilidad, Respeto, Confianza, Integridad, Honestidad.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
