{% extends "index.html" %}
{% block content %}

{%from "_macros.html" import render_field%}

<link rel="stylesheet" type="text/css" href="static/sweetalert2/sweetalert2.min.css">

<script type="text/javascript" src="static/sweetalert2/sweetalert2.min.js" ></script>

<link rel="stylesheet" href="static/estilos.css" >
<br>
<br>
<br>
<br>
<div class="row" id="empleados">
    <div class="col-sm-12">
        <div class="card mt-2">
            <div class="card-header" style="background-color: #3081B5; color: #fff">
                 <font face="Cavolini" size="3">Empleados</font> 
            </div>
            <div class="card-body" style="background-color:  #D9D9D9">
                <div class="row">
                    <div id="" class="col-sm-12">
                        <div class="card">
                            <div class="card-header" style="background-color: #3081B5; color: #fff">
                                <font face="Cavolini" size="3">Detalles</font> 
                                <div class="form-inline float-right">
                                    
                                </div>
                            </div>
                            <form name="sent" class="card-body" action="/security/modificar_empleado" id="form1" method="POST">
                                <div class="form-control">
                                    <div class="form">
                                    <div class="form-group">
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                            {{render_field(form.id,class='form-control',placeholder='Ingresa el nombre')}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                            {{render_field(form.name,class='form-control',placeholder='Ingresa el nombre')}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                            {{render_field(form.ApellidoP,class='form-control',placeholder='Ingresa el precio')}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                            {{render_field(form.ApellidoM,class='form-control',placeholder='Ingresa la descripcion')}}
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 float-label-form-group controls">
                                        {{render_field(form.Fecha_nacimiento,class='form-control',placeholder='Ingresa el nombre')}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group col-xs-12 float-label-form-group controls">
                                        {{render_field(form.Calle,class='form-control',placeholder='Ingresa el precio')}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group col-xs-12 float-label-form-group controls">
                                        {{render_field(form.NumeroCasa,class='form-control',placeholder='Ingresa la descripcion')}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group col-xs-12 float-label-form-group controls">
                                        {{render_field(form.Colonia,class='form-control',placeholder='Ingresa la url')}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group col-xs-12 float-label-form-group controls">
                                        {{render_field(form.Codigo_postal,class='form-control',placeholder='Ingresa la descripcion')}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group col-xs-12 float-label-form-group controls">
                                        {{render_field(form.email,class='form-control',placeholder='Ingresa la url')}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group col-xs-12 float-label-form-group controls">
                                        {{render_field(form.password,class='form-control',placeholder='Ingresa la contraseña')}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group col-xs-12 float-label-form-group controls">
                                        {{render_field(form.TelefonoC,class='form-control',placeholder='Ingresa la url')}}
                                    </div>
                                </div>
                                    <input type="submit" id="reg-alum" class="btn btn-success" name="registra" value="Registrar"/>
                                </div>
                                </div>
                            </form>   
                        </div>                        
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
  
{% endblock %}