{% extends "index.html" %} 
 
 {% block content%}
   {%from "_macros.html" import render_field%}
 
   <div class="container-fluid">
    <div class="">
        <div class="card-header" style="background-color: #D49837; color: #fff">
            <font face="Cavolini" size="4">Productos</font> 
            <div class="form-inline float-right">
                
            </div>
        </div>
        <form name="sent" class="card-body" action="/security/administracion_admin" id="form1" method="POST">
            <div class="form-control">
                <div class="form">
                <div class="form-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{render_field(form.id_empleado,class='form-control',placeholder='Ingresa el nombre')}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{render_field(form.Nombre,class='form-control',placeholder='Ingresa el nombre')}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{render_field(form.Precio_Venta,class='form-control',placeholder='Ingresa el precio de venta')}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{render_field(form.Tamanio,class='form-control',placeholder='Ingresa el tamaño')}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{render_field(form.Peso,class='form-control',placeholder='Ingresa el peso')}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{render_field(form.Descripcion,class='form-control',placeholder='Ingresa la descripcion')}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{render_field(form.Numero_Existencias,class='form-control',placeholder='Ingresa el numero de existencias')}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{render_field(form.Image_url,class='form-control',placeholder='Ingresa la url')}}
                    </div>
                </div>
                <input type="submit" id="reg-alum" class="btn btn-primary" name="registra" value="Registrar"/>
            </div>
            </div>
        </form>
    </div>
   </div>
 
{% endblock %}