{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4 divSignup">
    <div class="box">
        <h3 class="title">Registro</h3>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
         <div class="notification is-danger">
            {{messages[0]}}. Ir a <a href="{{ url_for('auth.login')}}">Login page</a>
         </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" maxlength="35"name="name" placeholder="Nombre completo">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" minlength="4" maxlength="16" name="password" placeholder="Password">
                </div>
            </div>

            <button class="button is-block is-large is-fullwidth btnLogin">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}