Flask-WTF 
greenlet 
itsdangerous  
Jinja2 
MarkupSafe 
marshmallow 
mysql 
mysql-connector 
mysql-connector-python 
mysqlclient 
packaging 
passlib 
pip  
protobuf 
psycopg2 
PyMySQL 
PySimpleGUI 
setuptools 
six 
speaklater 
SQLAlchemy  
typing_extensions 
Werkzeug 
WTForms