{% extends "index.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="column">
    <div class="box">
        <h3 class="title">Registro</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Ir a <a href="{{ url_for('auth.login') }}">login</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form class="row g-3" method="POST" action="/security/register">
            
                <div class="col-md-4">
                    <input class="form-control" type="text" name="name" placeholder="Nombre" autofocus=""/>
                </div>
            
                <div class="col-md-4">
                    <input class="form-control " type="text" name="ApellidoP" placeholder="ApellidoP" autofocus="">
                </div>
            
                <div class="col-md-4">
                    <input class="form-control" type="text" name="ApellidoM" placeholder="ApellidoM" autofocus="">
                </div>
            
                <div class="col-md-6">
                    <input class="form-control form-control-lg" type="text" name="Fecha_nacimiento" placeholder="Fecha_nacimiento" autofocus="">
                </div>
            
                <div class="col-md-6">
                    <input class="form-control form-control-lg" type="text" name="TelefonoC" placeholder="TelefonoC" autofocus="">
                </div>
            
                <div class="col-md-4">
                    <input class="form-control form-control-lg" type="text" name="Calle" placeholder="Calle" autofocus="">
                </div>
            
                <div class="col-md-2">
                    <input class="form-control form-control-lg" type="text" name="NumeroCasa" placeholder="NumeroCasa" autofocus="">
                </div>
            
                <div class="col-md-4">
                    <input class="form-control form-control-lg" type="text" name="Colonia" placeholder="Colonia" autofocus="">
                </div>
            
                <div class="col-md-2">
                    <input class="form-control form-control-lg" type="text" name="Codigo_postal" placeholder="Codigo_postal" autofocus="">
                </div>
            
                <div class="col-md-6">
                    <input class="form-control form-control-lg" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            
                <div class="col-md-6">
                    <input class="form-control form-control-lg" type="password" name="password" placeholder="Password">
                </div>
            
            <button class="button is-block is-info is-large is-fullwidth">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}
